doctype html
html(lang="en")

  include ../components/headerfile

  body   

    // Header Start
    include ../components/header
    // Header End

    // Forot Password Start
    section.space-py-100
      .container
        .row
          .col-lg-6.offset-lg-3
            .authentication-form
              .login-header
                .brand-logo
                  img.img-fluid(src='../assets/images/logo/logo.png' alt='')
                h4 Forgot Password ?
                p
                  | Enter Your Email And We&apos;ll Send You A Link To Reset
                  br
                  |  Your Password.
              form(action='javascript:void(0);')
                .row.frm-row
                  .col-12.mb-0
                    label Email Address
                    input.form-control(type='email' placeholder='Your Email' required='')
                  .col-12
                    button.btn(type='submit')
                      i.fa.fa-key
                      |  Send Reset Link
    // Forot Password End   

    include ../components/footerfile