doctype html
html(lang="en")

  include ../components/headerfile 

  body

    // Header Start
    include ../components/header
    // Header End

    // Reset Password Start
    section.space-py-100
      .container
        .row
          .col-lg-6.offset-lg-3
            .authentication-form
              .login-header
                .brand-logo
                  img.img-fluid(src='../assets/images/logo/logo.png' alt='')                 
                h4 Reset Your Password
                p
                  | You&apos;ve Successfully Verified Your Account. Enter 
                  br
                  |  New Passeord Below.
              form(action='javascript:void(0);')
                .row.frm-row
                  .col-12
                    label New Password
                    .input-group.group-input
                      input.form-control.showhide-password(type='password' placeholder='Enter Your Password' autocomplete='off' required='')
                      span.input-group-text.toggle-show.fa.fa-eye
                  .col-12.mb-0
                    label Confirm New Password
                    .input-group.group-input
                      input.form-control.showhide-password(type='password' placeholder='Re Enter Your Password' required='')
                      span.input-group-text.toggle-show.fa.fa-eye
                  .col-12                   
                      button.btn(type='submit') Update Password
    // Reset Password End
   
    include ../components/footerfile   