@charset "UTF-8";
/*********************************************************************
Item Name: Formego - Authentication HTML5 Forms Template
Author: mapadreaminfotech
Author URI: https://codecanyon.net/user/mapadreaminfotech
**********************************************************************/

/***  01 TYPOGRAPHY ***/
/***  02 HEADER ***/
/***  03 INTRO ***/
/***  04 DEMO ***/
/***  05 FEATHURES ***/
/***  06 FOOTER ***/
/***  08 SCROLL TOP ***/
/***  09 AUTHENTICATION ***/
/***  11 AUTHENTICATION START ***/

/*******************
 01 TYPOGRAPHY START
********************/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
	font-family: $font-roboto;
	color: $black;   
	background-color: rgba($theme-primary,0.1);	
	scroll-behavior: smooth;
}
a{
  text-decoration: none;
  color: $theme-primary;
  &:hover{
	color: $theme-primary;
  }
}
h1,h2,h3,h4,h5,h6,p{
	margin-block-end: 0;
}
ol, ul, dl{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
p{
	color: $font-light;
}
.btn{
	color:$white;
	font-size:16px;
	font-weight:500;
	text-transform:capitalize;
	padding:10px 35px;
	border: 2px solid $theme-primary;
	background-color: $theme-primary;
	border-radius: 5px;
	position: relative;
	animation: all 0.5s ease;
	z-index: 1;
	overflow: hidden;
	&:focus,&:hover{
		color: $white;
		background-color: $theme-primary;
		border-color: $theme-primary;
		box-shadow:none;
	}
}
.space-py-100{
	padding-top: 100px;
	padding-bottom: 100px;
}
.frm-row{
	margin-bottom: -18px;
	>div{
		margin-bottom: 18px;
	}
}

.sec-row{
	margin-bottom: -30px;
	>div{
		margin-bottom: 30px;
	}
}
.title{
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 5px;
	margin-bottom: 40px;
	border-bottom: 3px solid $theme-primary;
	position: relative;
	h2{
		text-transform: capitalize;
    	font-weight: 800;
	}
}