// theme fonts
$font-roboto:'Roboto', sans-serif;
$font-awesome: 'FontAwesome';

// theme colors
$theme-primary:#2980b9;

// theme fonts colors
$black:#09362d;
$white:#ffffff;
$font-light:#acb8b6;
$theme-border:#e8e8e8;