head

  // Required Meta Tags
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(name='keywords' content='authentication,login,register,forgot password,reset password,verify email,verify pin,sign in, sign up,responsive,bootstrap,bootstrap 5')
  meta(name='description' content='Formego - HTML and CSS Responsive Forms')
  meta(name='author' content='codnictheme')
  title Formego - Responsive Forms
  
  // Shortcut Icon
  link(rel='shortcut icon' href='../assets/images/logo/favicon.png' type='image/x-icon')
  
  // Font Awesome CSS
  link(href='../assets/css/vendor/font-awesome.css' rel='stylesheet')
  
  // Bootstrap CSS
  link(href='../assets/css/vendor/bootstrap.css' rel='stylesheet')
  
  // Style CSS
  link(href='../assets/css/style.css' rel='stylesheet')