header
  .container
    .row
      .col-12
        .header-contain.position-relative.d-flex.justify-content-between.align-items-center
          .brand-logo
            a(href='index.html')
              img.img-fluid(src='../assets/images/logo/logo.png' alt='')             
          ul.menu-list
            li.menu-item
              a(href='login.html') login
            li.menu-item
              a(href='register.html') register
            li.menu-item
              a(href='forgot-password.html') forgot password
            li.menu-item
              a(href='reset-password.html') reset password
            li.menu-item
              a(href='verify-email.html') verify email
            li.menu-item
              a(href='verify-pin.html') verify pin      
          .menu-action
            i.fa.fa-bars.open-menu
.body-layear